C++/Task2/x64/Debug/Task2.tlog/Task2.lastbuildstate
C++/Task2/x64/Debug/Task2.tlog/CL.write.1.tlog
C++/Task2/x64/Debug/Task2.tlog/CL.read.1.tlog
C++/Task2/x64/Debug/Task2.tlog/CL.command.1.tlog
C++/Task2/x64/Debug/vc141.idb
C++/Task2/x64/Debug/Task2.tlog/link.write.1.tlog
C++/Task2/x64/Debug/Task2.tlog/link.read.1.tlog
C++/Task2/x64/Debug/Task2.tlog/link.command.1.tlog
C++/Task2/Debug/Task2.tlog/link.write.1.tlog
C++/Task2/Debug/Task2.tlog/link.read.1.tlog
C++/Task2/Debug/Task2.tlog/link.command.1.tlog
C++/Task2/Debug/Task2.tlog/Task2.lastbuildstate
C++/Task2/Debug/Task2.tlog/CL.write.1.tlog
C++/Task2/Debug/Task2.tlog/CL.command.1.tlog
C++/Task2/Debug/vc141.idb
C++/Task2/Debug/Task2.tlog/CL.read.1.tlog
